@page "{activityType}"

@model Indiwiz.Trading.Web.Pages.ActivitiesModel

@{
    ViewData["Title"] = @Model.PageHeader;
}

<h1>@ViewData["Title"]</h1>

<table class="table table-striped">
    <thead>
        <tr class="table-dark">
            <th scope="col">Date</th>
            <th scope="col">Amount</th>
        </tr>
    </thead>
    @foreach (var interest in Model.Activities.OrderBy(o => o.TimeStamp))
    {
        <tr class="table-success">
            <td>@interest.TimeStamp.ToShortDateString()</td>
            <td>@interest.Amount</td>
        </tr>
    }
</table>
