@page
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Trading.Net</h1>
    <p>Activties upto @Model.LastActivityDate.ToShortDateString()</p>
</div>
