@page
@model Indiwiz.Trading.Web.Pages.InstrumentsModel

@{
    ViewData["Title"] = "Instruments";
}

<h1>@ViewData["Title"]</h1>

  <ul>
      @foreach(var instrument in Model.Instruments.OrderBy(i => i.Title))
      {
        <li>
              <a asp-page="/InstrumentDetails" asp-route-instrumentId="@instrument.Id">@instrument.Title</a>
        </li>
      }
  </ul>

