@page
@model Indiwiz.Trading.Web.Pages.InstrumentsModel

@{
    ViewData["Title"] = "Instruments";
}

<h1>@ViewData["Title"]</h1>

<div class="row col-sm-3">
    <form method="post" enctype="multipart/form-data">
        <select class="form-select form-select-lg mb-3" asp-for="SelectedInstrumentId" asp-items="@Model.Instruments">
            <option selected>Select an instrument</option>
        </select>
        <input type="submit" />
    </form>
</div>


