@page
@model Indiwiz.Trading.Web.Pages.UploadActivity
@{
    ViewData["Title"] = "Upload Activity";
}

<h1>@ViewData["Title"]</h1>

<div>
    <form method="post" enctype="multipart/form-data">
        <input class="form-control" type="file" asp-for="Upload" />
        <br />
        <input class="btn btn-primary" type="submit" />
    </form>
</div>